*{
    margin: 0;
    padding: 0;
}

/* setup header */

body {
    overflow-x: hidden;
}

@font-face {
    font-family: "retro";
    src: url(../assets/fonts/Magic\ Retro.ttf);
}

#tituloPrincipal {
    margin-top: 45px;
    vertical-align: center;
    text-align: center;
    font-size: 3rem;
    font-family: "retro";
    color: white;
    position: absolute;
    left: 45%;
}

.menu1 {
	// border-bottom: 1px solid #198754;
	border-bottom: 1px solid #9bd957;
	background-image: url(../assets/img/header-bkg.jpg);
    background-color: #000;
}

.menu_chiquito {
    color: white;
}

nav.navbar .nav-item .nav-link, 
#formulario input[type=submit], 
#formulario input[type=reset], 
#navbarSupportedContent .search_form .btn.search {
	// border: 1px solid #198754;
	border: 1px solid #9bd957;
	// background-color: rgb(0, 0, 0);
	background-color: transparent;
	border-radius: 10px;
	color: #fff;
	transition: all 0.3s ease;
	&:hover, &.active {
		background-color: #402469;
		border-color: #84f991;
	}
}

nav.navbar .nav-item .nav-link {
    padding: 10px;
    margin: 20px;
    position: relative;
    display: inline-block;
}

/* nav.navbar .nav-item .nav-link:hover, 
nav.navbar .nav-item .nav-link.active, 
#navbarSupportedContent .search_form .btn.search:hover {
	// color: #000;
	// color: rgb(159,125,232);
	// background-color: rgb(194, 124, 114);
	// background-color: #198754;
	// background-color: rgb(159,125,232);
	background-color: #402469;
	// border: 1px solid #fff;
	border-color: #9F1CA1;
} */

#navbarSupportedContent .search_form {
    margin-right: 25px;
}
#navbarSupportedContent .search_form .search {
    color: white;
}

a {
    text-decoration: none;
    text-align: left;
}

div { 
    ul { 
        li { 
            a:link {
				color:rgb(10, 10, 10);
				display: inline-block;
				border: 1px solid black;
				background-color: rgb(194, 124, 114);
				&:visited {
					color:rgb(231, 255, 18);
				}
			}
		}
    }
}

/* setup main */

main {
    // height: 140vh;
    width: 100vw;
	min-height: 100vh;
	padding-top: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    position: relative;
    overflow: hidden;
    // background-image: url(../assets/img/output-onlinepngtools.png);
    background-image: url(../assets/img/cyberpunkwave-01.jpg);
}

#formulario {
    text-align: center;
    padding: 10px;
    margin: 5px;
    color: white;
}
/* #formulario input[type=submit], 
#formulario input[type=reset] {
    padding-right: 8px;
    padding-left: 8px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
#formulario input[type=submit]:hover, 
#formulario input[type=reset]:hover {
    background-color: #000;
    color: #fff;
} */
#formulario input[type=submit], 
#formulario input[type=reset] {
    padding-right: 8px;
    padding-left: 8px;
}

#wrapperCajitas {
	text-align: center;
}

@mixin cajita {
    // width: 300px;
    width: 20%;
    // height: 300px;
    height: 220px;
    // margin: 10px 10px 10px 10px;
    margin: 10px;
    display: inline-block;
    background-position: center;
    // background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 20;
}
.cajita1 {
	@include cajita;
    background-image: url(../assets/img/monkey.webp);
}
.cajita2 {
	@include cajita;
    background-image: url(../assets/img/reverie.jpg);
}
.cajita3 {
	@include cajita;
    background-image: url(../assets/img/Synapse.jpg);
}
.cajita4 {
	@include cajita;
    background-image: url(../assets/img/remnant2.jpg);
}
.cajita5 {
	@include cajita;
    background-image: url(../assets/img/HL.jpg);
}
.cajita6 {
	@include cajita;
    background-image: url(../assets/img/megaman.webp);
}
.cajita7 {
	@include cajita;
    background-image: url(../assets/img/DI2.webp);
}

.cajita8 {
	@include cajita;
    background-image: url(../assets/img/r6.jpg);
}

.cajita9 {
	@include cajita;
    background-image: url(../assets/img/doom_ftw.jpg);
}

.cajita10 {
	@include cajita;
    background-image: url(../assets/img/skyrim.jpg);
}

.cajita11 {
	@include cajita;
    background-image: url(../assets/img/V_for_Vendetta_large.jpg);
}

.cajita12 {
	@include cajita;
    background-image: url(../assets/img/21_Blackjack_large.jpg);
}

.cajita13 {
	@include cajita;
    background-image: url(../assets/img/Shazam_large.jpeg);
}

.cajita1_movie {
	@include cajita;
	width: 20%;
	height: 400px;
	background-size: contain;
    background-image: url(../assets/img/65.jpg);
}
.cajita2_movie {
	@include cajita;
	width: 20%;
	height: 400px;
	background-size: contain;
    background-image: url(../assets/img/Ant_Man_y_la_Avispa_Quantumanaia-585469373-large.jpg);
}
.cajita3_movie {
	@include cajita;
	width: 20%;
	height: 400px;
	background-size: contain;
    background-image: url(../assets/img/jw4.jpg);
}
.cajita4_movie {
	@include cajita;
	width: 20%;
	height: 400px;
	background-size: contain;
    background-image: url(../assets/img/shazam.jpg);
}
.cajita5_movie {
	@include cajita;
	width: 20%;
	height: 400px;
	background-size: contain;
    background-image: url(../assets/img/knockatthecabin.jfif);
}
.cajita6_movie {
	@include cajita;
	width: 20%;
	height: 400px;
	background-size: contain;
    background-image: url(../assets/img/scream6.jfif);
}
.cajita7_movie {
	@include cajita;
	width: 20%;
	height: 400px;
	background-size: contain;
    background-image: url(../assets/img/Los_Fabelman-723163902-large.jpg);
}

.cajita8_movie {
	@include cajita;
	width: 20%;
	height: 400px;
	background-size: contain;
    background-image: url(../assets/img/jason_bourne.jpg);
}

.cajita9_movie {
	@include cajita;
	width: 20%;
	height: 400px;
	background-size: contain;
    background-image: url(../assets/img/V_For_Vendetta.jpg);
}

.cajita10_movie {
	@include cajita;
	width: 20%;
	height: 400px;
	background-size: contain;
    background-image: url(../assets/img/21_Blackjack.jpg);
}

article h3 {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    font-family: "retro";
}

p{
    text-align: center;
    position: relative;
    color: white;
    font-size: 20px;
}

article h4 {
    text-align: left;
    position: relative;
    color: white;
    font-size: 18px;
}

.columna_de_publicidad {
	width: 140px;
	height: 150px;
	position: sticky;
	left: 100%;
	top: 200px;
	overflow: hidden;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    top: 70px;
    left: 50%;
	transform: translateX(-50%);
}
.carousel-item img {
	margin: 0 auto;
}

/* Setup de footer */

footer {
    height: 10vh;
    width: 100vw;
    overflow: hidden;
    background-image: url(../assets/img/testing_footer_3.webp);
    background-size: cover;
    color: white;
}

#derechos {
    margin-top: 10px;
    text-align: center;
    margin-right: 20px;
}
#createdByFlame {
    margin-top: 10px;
    text-align: center;
    margin-right: 20px;
}

.twitter {
	left: 49%;
	position: relative;
}

/* setup 404 */

#body_404 {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#notfound {
    position: relative;
    height: 100vh;
    background: #030005;
}
  
#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
  
.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}
  
.notfound .notfound-404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
}
  
.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50% , -50%);
        -ms-transform: translate(-50% , -50%);
            transform: translate(-50% , -50%);
    font-size: 224px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -12px;
    color: #030005;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
    letter-spacing: -20px;
}
  
  
.notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 2px 0px #8400ff;
    letter-spacing: 13px;
    margin: 0;
}
  
.notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #ff005a;
    text-decoration: none;
    border: 2px solid;
    background: transparent;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
  
.notfound a:hover {
	color: #8400ff;
}
  
@media only screen and (max-width: 767px) {
	.notfound .notfound-404 h2 {
		font-size: 24px;
	}
}
  
@media only screen and (max-width: 480px) {
    .notfound .notfound-404 h1 {
        font-size: 182px;
    }
}
  